<div class="actions">
    <div class="form-group">
        <%= form.label :original_url %>
        <%= form.text_field :original_url, placeholder: "http://www.perdu.com/", class: 'form-control', value: 'http://www.perdu.com/' %>
    </div>
    <%= form.submit t('form_save'), :class => 'col-4 btn btn-success' %>
</div>
